h1{
    color:white;
}
body{
    background: linear-gradient(90deg, #ff6428, #bb4110);
    
    background-clip: text;
    
    -webkit-background-clip: text;
    
    color: transparent;
}
p{
    color: white;
}
label{
    color: white;
}
fieldset{
    color:white;
}
legend{
    color: white;
}
#h1-center{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    font-size: 30px;
}
